<!--Spaces -->
<div class="row row-m-t">&nbsp;</div>
<div class="row row-m-t">&nbsp;</div>


<div class="row row-m-t">
    <div class="col-xs-1 col-md-2">&nbsp;</div>
    <!-- Here center column -->
    <div class="col-xs-10 col-md-8">
 
    <!-- Hide Add News -->
    <div *ngIf="showAddNews()">
            
        <table class="table table-bordered">
            <thead class="thead-light">
                <th class="border-white"><h5 class="border-white">Add News</h5></th>
            </thead>
        </table>


            <form (ngSubmit)="addNews()" class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="selectCountry">Add News in:</label>
                  <div class="col-sm-10">
                    <select name="selectCountry" [(ngModel)] ="selectedCountry" required>
                        <option *ngFor="let country of countries" [ngValue]="country">{{country.Country}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="newsInput">News description:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="newsInput" name="newsInput"
                     placeholder="Enter a description" [(ngModel)]="description" required />
                  </div>
                </div>
    
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Add News</button>
                  </div>
                </div>
              </form> 


        </div>
    </div>
        <div class="col-xs-1 col-md-2">&nbsp;</div>
            
    </div>

    <!--Space -->
    <div class="row row-m-t">&nbsp;</div>


    <div class="row row-m-t">
        <div class="col-xs-1 col-md-2">&nbsp;</div>
        <!-- Here center column -->



        <div class="col-xs-10 col-md-8">

             <!-- Title of the table-->
            <table class="table table-bordered">
                <thead class="thead-light">
                    <th class="border-white"><h5 class="border-white">News</h5></th>
                </thead>
            </table>

            <div ng-show="news?.lenght">
                <table class="table table-bordered table-center">
                    <thead>
                        <tr>
                            <th class="table-dark text-right border-white">Country Name</th>
                            <th class="table-warning text-right border-white">Description</th>
                            <th class="table-primary text-right border-white">Author</th>
                            <th class="table-primary text-right border-white">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let one of news">    
                            <td class="table-dark text-center border-white"><a href="dashboard/{{one.CountryData.Slug}}" class="text-white">{{one.CountryData.Country}}</a></td>
                            <td class="table-warning text-left border-white">{{one.Description}}</td>
                            <td class="table-primary text-center border-white">{{one.displayName}} </td>
                            <td class="table-primary text-center border-white"> {{one.Date | date:'dd MMM yyyy'}}</td>                       
                        </tr>
                    </tbody>
                </table>
            </div>      
        </div>
    <div class="col-xs-1 col-md-2">&nbsp;</div>
    </div>
    

