<!-- HEADER -->
<!-- Mobile And Desktop -->
<div class="container-fluid">

  <!-- Title row -->
  <div class="row row-m-t">
    <div class="col-xs-3 col-md-3">&nbsp;</div>
    <!-- Here title column -->
     <div class="col-xs-6 col-md-6">
       <h1 class="text-center">COVID-19<br>
         <small>Live Updates and Statistics</small>
       </h1>
     </div>

    <div class="col-xs-3 col-md-3">&nbsp;
      <!--<small class="text-left">Last Updated (TODO): {{currentDate}}</small>-->
    </div>
   </div>
  </div>

  <!-- Navigation bar row -->
  <div class="row">
      <table class="table table-bordered">
        <thead class="thead-dark">
            <th class="border-white"><h6 class="border-white text-center">Worldwide</h6></th>
        </thead>
       </table>
  </div>
  <!-- ******************** -->
