<app-top-bar></app-top-bar>

<!-- ***Summary row*** -->
  <div class="row row-m-t">
   <div class="col-xs-1 col-md-2">&nbsp;</div>
   <!-- Here center column -->
   <div class="col-xs-10 col-md-8">

     <!-- Title of the table-->
     <table class="table table-bordered">
       <thead class="thead-light">
           <th class="border-white"><h5 class="border-white">Worldwide</h5></th>
       </thead>
      </table>

      <!-- Table -->
      <table class="table table-bordered table-center">
        <tbody>
            <tr class="table-warning">
                <td class="border-white"><p class="text-left text-middle">Total Cases</p></td>
                <td class="border-white"><p class="text-right">{{summaryData?.Global?.TotalConfirmed | number}}</p></td>
            </tr>
            <tr class="table-warning">
                <td class="border-white"><p class="text-left">New Cases</p></td>
                <td class="border-white"><p class="text-right">{{summaryData?.Global?.NewConfirmed | number}}</p></td>
            </tr>
            <tr class="table-warning">
                <td class="border-white"><p class="text-left">Active Cases</p></td>
                <td class="border-white"><p class="text-right">{{activeCases | number}}</p></td>
            </tr>
            <tr class="table-info">
                <td class="border-white"><p class="text-left">Total Recovered</p></td>
                <td class="border-white"><p class="text-right">{{summaryData?.Global?.TotalRecovered | number}}</p></td>
            </tr>
            <tr class="table-info">
                <td class="border-white"><p class="text-left">New Recovered</p></td>
                <td class="border-white"><p class="text-right">{{summaryData?.Global?.NewRecovered | number}}</p></td>
            </tr>
            <tr class="table-info">
                <td class="border-white"><p class="text-left">Recovery Rate</p></td>
                <td class="border-white"><p class="text-right">{{recoveryRate | number}}%</p></td>
            </tr>
            <tr class="table-danger">
                <td class="border-white"><p class="text-left">Total Deaths</p></td>
                <td class="border-white"><p class="text-right">{{summaryData?.Global?.TotalDeaths | number}}</p></td>
            </tr>
            <tr class="table-danger">
                <td class="border-white"><p class="text-left">New Deaths</p></td>
                <td class="border-white"><p class="text-right">{{summaryData?.Global?.NewDeaths | number}}</p></td>
            </tr>
            <tr class="table-danger">
                <td class="border-white"><p class="text-left">Mortality Rate</p></td>
                <td class="border-white"><p class="text-right">{{mortalityRate | number}}%</p></td>
            </tr>
        </tbody>
      </table>
    </div>

   <div class="col-xs-1 col-md-2">&nbsp;</div>

</div>

<!--Spaces -->
<div class="row row-m-t">&nbsp;</div>
<div class="row row-m-t">&nbsp;</div>



<!-- ***Pie chart row***-->
<div class="row row-m-t">
 <div class="col-xs-1 col-md-2">&nbsp;</div>
 <!-- Here center column -->
 <div class="col-xs-10 col-md-8">

 <!-- Title of the table-->
 <table class="table table-bordered">
   <thead class="thead-light">
       <th class="border-white"><h5 class="border-white">Corona Virus Cases Distribution Worldwide</h5></th>
   </thead>
  </table>

  <!--Space -->
  <div class="row row-m-t">&nbsp;</div>

  <app-pie-chart></app-pie-chart>

  </div>
  <div class="col-xs-1 col-md-2">&nbsp;</div>

</div>

<!--Spaces -->
<div class="row row-m-t">&nbsp;</div>
<div class="row row-m-t">&nbsp;</div>

<!-- ***Bar chart row***-->
<div class="row row-m-t">
 <div class="col-xs-1 col-md-2">&nbsp;</div>
 <!-- Here center column -->
 <div class="col-xs-10 col-md-8">

 <!-- Title of the table-->
 <table class="table table-bordered">
   <thead class="thead-light">
       <th class="border-white"><h5 class="border-white">Daily Corona Virus Cases Worldwide</h5></th>
   </thead>
  </table>

  <!--Space -->
  <div class="row row-m-t">&nbsp;</div>

  <app-bar-chart></app-bar-chart>

  </div>
  <div class="col-xs-1 col-md-2">&nbsp;</div>

</div>

<!--Spaces -->
<div class="row row-m-t">&nbsp;</div>
<div class="row row-m-t">&nbsp;</div>

<!-- ***line chart row***-->
<div class="row row-m-t">
 <div class="col-xs-1 col-md-2">&nbsp;</div>
 <!-- Here center column -->
 <div class="col-xs-10 col-md-8">

 <!-- Title of the table-->
 <table class="table table-bordered">
   <thead class="thead-light">
       <th class="border-white"><h5 class="border-white">Total Corona Virus Cases Worldwide</h5></th>
   </thead>
  </table>

  <!--Space -->
  <div class="row row-m-t">&nbsp;</div>
  <app-line-chart></app-line-chart>

  </div>
  <div class="col-xs-1 col-md-2">&nbsp;</div>

</div>

<!--Spaces -->
<div class="row row-m-t">&nbsp;</div>
<div class="row row-m-t">&nbsp;</div>

<!-- ***Countries row*** -->
  <div class="row row-m-t">
   <div class="col-xs-1 col-md-2">&nbsp;</div>
   <!-- Here center column -->
   <div class="col-xs-10 col-md-8">

     <!-- Title of the table-->
     <table class="table table-bordered">
       <thead class="thead-light">
           <th class="border-white"><h5 class="border-white">Countries Data</h5></th>
       </thead>
      </table>

<!-- Table -->
<table class="table table-bordered table-center">

  <thead>
    <th class="border-white table-dark"><p>Country</p><i class="fa fa-fw fa-sort"></i></th>
    <th class="border-white table-warning"><p>New Cases</p><i class="fa fa-fw fa-sort"></i></th>
    <th class="border-white table-warning"><p>Total Cases</p><i class="fa fa-fw fa-sort"></i></th>
    <th class="border-white table-primary"><p>New Recoveries</p><i class="fa fa-fw fa-sort"></i></th>
    <th class="border-white table-primary"><p>Total Recoveries</p><i class="fa fa-fw fa-sort"></i></th>
    <th class="border-white table-danger"><p>New Deaths</p><i class="fa fa-fw fa-sort"></i></th>
    <th class="border-white table-danger"><p>Total Deaths</p><i class="fa fa-fw fa-sort"></i></th>
  </thead>
  <tbody>
      <tr *ngFor="let country of summaryData?.Countries">
          <td class="border-white table-dark"><a href="dashboard/{{country.Slug}}" class="text-white">{{country.Country}}</a></td>
          <td class="border-white table-warning"><p class="text-right">{{country?.NewConfirmed | number}}</p></td>
          <td class="border-white table-warning"><p class="text-right">{{country?.TotalConfirmed | number}}</p></td>
          <td class="border-white table-primary"><p class="text-right">{{country?.NewRecovered | number}}</p></td>
          <td class="border-white table-primary"><p class="text-right">{{country?.TotalRecovered | number}}</p></td>
          <td class="border-white table-danger"><p class="text-right">{{country?.NewDeaths | number}}</p></td>
          <td class="border-white table-danger"><p class="text-right">{{country?.TotalDeaths | number}}</p></td>
      </tr>
  </tbody>
</table>
</div>

<div class="col-xs-1 col-md-2">&nbsp;</div>

</div>

<!-- ***Footer row***-->
  <div class="row row-m-t">
   <div class="col-xs-1 col-md-2">&nbsp;</div>
   <!-- Here center column -->
   <div class="col-xs-10 col-md-8">

     <!-- Title of the table-->
     <table class="table table-bordered">
       <thead class="thead-light">
           <th class="border-white text-center"><small class="border-white">Data Source: <a href="https://covid19api.com/">COVID-19 API / Johns Hopkins CSSE</a></small></th>
       </thead>
      </table>
